.cart {
  display: flex;
  flex-wrap: wrap;  
}
.intro-imagen {
  flex: 1 1 30rem;  
}
.intro-imagen img {
  width: 100%;
}
.compra {
  flex: 1 1 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.compra h1 {
  font-weight: 300;
  font-size: 3rem;
  padding: 1rem;  
}
.compra h4 {
  font-weight: 100;
  font-size: 2rem;
  padding: 1rem;
}
.input-group {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}
.input-group:last-child {
  margin-bottom: 0;
}
.input-group label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.input-group input {
  outline: none;
  background: none;
  border: 1px solid #2e3852;
  font-size: 1rem;
  padding: 0.5rem;
  color: inherit;
  border-radius: 5px;
}
.input-group input:focus {
  border-color: #596da0;
}
.btn {
  color: white;
  background-color: rgb(151, 151, 151);
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 0.9rem;
  outline: none;
  border: none;
  cursor: pointer;  
  }

