.cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}
.intro-imagen {
  width: 30vw;
  margin-left: 2rem;
  height: auto;
  max-width: 350px;
}
.intro-imagen img {
  width: 100%;
}
.compra {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.compra h1 {
  font-weight: 300;
  font-size: 3rem;
  margin-bottom: 1rem;
  /*margin-top: 0*/
}
.compra h4 {
  font-weight: 100;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.cart-form,
.su-compra {
  width: 50vw;
  max-width: 50%;
  padding: 2rem 4rem;
}
.input-group {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}
.input-group:last-child {
  margin-bottom: 0;
}
.input-group label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.input-group input {
  outline: none;
  background: none;
  border: 1px solid #2e3852;
  font-size: 1rem;
  padding: 0.5rem;
  color: inherit;
  border-radius: 5px;
}
.input-group input:focus {
  border-color: #596da0;
}
.btn {
  color: white;
  background-color: rgb(151, 151, 151);
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 0.9rem;
  outline: none;
  border: none;
  cursor: pointer;
}
@media (max-width: 900px) {
  .cart {
    flex-direction: column;
    justify-content: center;
  }
  .cart-form {
    width: 80vw;
    max-width: inherit;
    margin: 2rem 0;
  }
}
@media (max-width: 800px) {
  .intro-imagen {
    margin-top: 2rem;
    height: 30vh;
    width: auto;
  }
}
