.main-head {
  color: black;
}
nav {
  display: flex;
  width: 90%;
  margin: auto;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
}
nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.logo {
  padding: 1rem;
}
h1 {
  flex: 2 1 40rem;
}
