.main-head {
  color: black;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 80%;
  min-height: 10vh;
  flex-wrap: wrap;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex: 1 1 40rem;
  list-style: none;
}
nav .logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex: 1 1 10rem;
}
nav .logo h1 {
  margin: 2rem;
}
/*Media Queries*/
@media screen and (max-width: 1332px) {
  html {
    font-size: 53%;
  }
  nav {
    width: 100%;
  }
}
@media screen and (max-width: 754px) {
  .main-head {
    width: 100%;
  }
  nav .logo {
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1 1 60rem;
  }
  nav ul {
    flex: 1 1 60rem;
    margin: 2rem 0rem;
  }
}
