#contact {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-wrapper {
  background: rgba(19, 18, 39, 0.1);
  width: 60%;
  color: black;
  border-radius: 20px;
}
.form-head {
  text-align: center;
  padding: 4rem;
}
.name-form,
.email-form {
  text-align: center;
  padding: 3rem;
}
.form-wrapper label {
  margin: 0rem 3rem;
}
.form-wrapper input {
  padding: 1rem 3rem;
}
.form-wrapper button {
  width: 100%;
  padding: 2rem;
  margin-top: 8rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
