* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  width: 100%;
}
html {
  font-size: 62.5%;
  scrollbar-width: thin;
  scrollbar-color: #000 #ccc;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h2 {
  font-size: 3rem;
  font-family: "Abril FatFace", cursive;
  font-weight: lighter;
  color: #333;
}
h3 {
  font-size: 1.3rem;
  color: #333;
  padding: 1.5rem 0rem;
}
p {
  font-size: 1.2rem;
  line-height: 200%;
  color: #696969;
}
a {
  text-decoration: none;
  color: #333;
}
