.counter {
  text-align: center;
  font-weight: bolder;
  padding: 1rem 0rem;
  font-size: 1.5rem;
}
.itemCount {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}
